.App{
        display: flex;
        flex-direction: column;
    align-items: center;
      }
      .upload{
          border: 2px solid #ccc;
          display: inline-block;
          padding: 6px 12px;
          font-size: 20px;
          cursor: pointer;
      }
      .butup {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
      h1,p{
        color: white;
      }
      .monimg {
        padding: 1rem;
        border: 1px solid #e0e0e0;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
      }
      .monimg:hover {
        transform: scale(1.05);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
      }
    